body  {
    background-image: url("../IMG/Sample3.webp");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
  .navbar a {
    color: rgb(3, 3, 3) ;
  }
  .navbar a:hover {
    color: rgb(249, 220, 110) ; 
  }
h1 {
    text-align: center;
}

#about h1 {
  font-size: 2.5rem;
  color: rgb(3, 3, 3); 
}

#about img {
  border: 5px solid rgb(3, 3, 3)ff;
}
.font-playfair{
  font-family: "Playfair Display", Georgia, serif;
}
.font-jost{
  font-family: "Jost", Times, sans-serif;
}
.button{
  color: rgb(249, 220, 110)
}
.centered{
  text-align: center;
}
.a:hover{
  color: rgb(249, 220, 110);
}
.black{
  color: rgb(3, 3, 3);
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; 
}
.gallery-item {
  position: relative;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.gallery-item:hover .overlay {
  opacity: 1; 
}

.overlay p {
  margin: 1;
  font-size: 1rem; 
}
.accordion-button {
  background-color: rgb(255, 204, 0);
  color: rgb(255, 255, 255);
}

.accordion-button:not(.collapsed) {
  background-color: rgb(255, 170, 0) !important;
  color: rgb(255, 255, 255);
}

.accordion-button:hover {
  background-color: rgb(255, 217, 102);
  color: rgb(255, 255, 255);
}
.accordion-body {
  background-color: rgb(253, 253, 253);
  color: rgb(0, 0, 0)
}
.accordion-button.collapsed {
  background-color: rgb(248, 227, 151);
  color: rgb(0, 0, 0);
  border-color: rgb(45, 36, 14);
}
