h1 {
    text-align: center;
}
/*this is an id, can only be used once*/
#heading-section-top{
    color:green;
}
h2 {
    color: green;
    background-color: aquamarine;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
    color: purple;
    text-align: center;
    background-color: violet;
}
h4 {
    color: yellow;
    text-decoration-color: blue;
    text-decoration-line: overline;
    text-decoration-style: wavy;
}
h5 {
    color: red;
}

body  {
    background-image: url("../IMG/Sample1.jpg");
    background-repeat:no-repeat;
    background-position: right top;
    background-attachment: fixed;
}



/*this is a class, can be used many time throughout*/
/*for the project we are using the rbg color scheme*/
.font-color-orange{
    color: crimson;
    text-decoration-line: underline;
}

.dotted-line{
    text-decoration-line: underline;
    text-decoration-style: dotted;
}